# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Translater/.DS_Store
*.pbxproj
Translater/Translater.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Translater/Translater.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.plist
*.xcuserstate
Translater/Translater.xcodeproj/project.xcworkspace/xcuserdata/andrewkireev.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
Translater/Translater.xcodeproj/xcuserdata/andrewkireev.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspacedata
Hotel Booking System/.DS_Store
Josephus permutation/.DS_Store
Аssignment operator/.DS_Store
.DS_Store
Brown_belt/Parsing_XML/cmake-build-debug/Makefile
*.xml
*.txt
*.cmake
*.make
*.iml
*.check_cache
*.log
*.bin
Brown_belt/Parsing_Xml/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
Brown_belt/Parsing_Xml/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Red Belt/Split into senteces/Split into sentences/.idea/.name
Red Belt/Split into senteces/Split into sentences/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
.DS_Store
