# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Translater/.DS_Store
*.pbxproj
Translater/Translater.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Translater/Translater.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.plist
*.xcuserstate
Translater/Translater.xcodeproj/project.xcworkspace/xcuserdata/andrewkireev.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
*.plist
Translater/Translater.xcodeproj/xcuserdata/andrewkireev.xcuserdatad/xcschemes/xcschememanagement.plist
*.plist
*.xcworkspacedata
Hotel Booking System/.DS_Store
Josephus permutation/.DS_Store
Аssignment operator/.DS_Store
.DS_Store
.DS_Store
.DS_Store
